:root {
	--discord-card-background: #36393f;
	--discord-background: #2f3136;
	--discord-code-block: #2f3136;
	--discord-code-block-border: #202225;
	--discord-button-color: #4f545c;
	--discord-button-color-active: #72767d;
	--discord-button-color-hover: #5d6269;
}

body {
	margin: 0;
	background-color: var(--discord-background);
	color: white;
	font-family: sans-serif;
	font-size: 1.2em;
}

.card {
	border: none;
	background-color: var(--discord-card-background);
	max-width: 600px;
	margin: 16px auto 0 auto;
	padding: 16px;
	border-radius: 8px;

	& > p {
		margin: 16px;
	}
}

.App > h1 {
	margin-top: 20vh;
	text-align: center;
	font-size: 3em;
	margin-bottom: 0;
}

.DateTimeInput > .input-wrapper {
	margin: 32px;
	text-align: center;

	& > input {
		margin: 8px;
		padding: 16px;
		font-family: sans-serif;
		font-size: 1em;
	}
}

.TimezoneSelect {
	& > legend {
		float: left;
		margin: 0 16px;
	}

	& > p > label {
		// Allow selecting an option among the whole width of the fieldset.
		display: inline-block;
		width: 100%;
	}
}

.Snippet {
	& > p > code {
		display: block;
		position: relative;
		border: 1px solid var(--discord-code-block-border);
		background-color: var(--discord-code-block);
		padding: 16px;
		font-size: 2em;
		border-radius: 4px;

		& > button {
			top: 50%;
			right: 16px;
			position: absolute;
			font-size: 0.5em;
			padding: 8px 16px;
			transform: translate(0, -50%);
		}
	}
}

button {
	color: white;
	background-color: var(--discord-button-color);
	border: none;
	border-radius: 4px;
	transition: background-color .17s ease,color .17s ease;

	&:hover {
		background-color: var(--discord-button-color-hover);
	}

	&:active {
		background-color: var(--discord-button-color-active);
	}
}

.LanguageSwitcher {
	text-align: center;

	& > button {
		font-size: 1em;
		padding: 8px;
		padding: 8px 16px;
		margin: 0 8px;
	}
}
